@using MvcCv.Models.Entity;
@model List<tbl_Yeteneklerim>
<div class="my-auto">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <ul class="list-inline list-icons">
        <li class="list-inline-item">
            <i class="devicons devicons-html5"></i>
        </li>
        <li class="list-inline-item">
            <i class="devicons devicons-css3"></i>
        </li>
        <li class="list-inline-item">
            <i class="devicons devicons-javascript"></i>
        </li>
        <li class="list-inline-item">
            <i class="devicons devicons-jquery"></i>
        </li>
        <li class="list-inline-item">
            <i class="devicons devicons-sass"></i>
        </li>
        <li class="list-inline-item">
            <i class="devicons devicons-less"></i>
        </li>
        <li class="list-inline-item">
            <i class="devicons devicons-bootstrap"></i>
        </li>
        <li class="list-inline-item">
            <i class="devicons devicons-wordpress"></i>
        </li>
        <li class="list-inline-item">
            <i class="devicons devicons-grunt"></i>
        </li>
        <li class="list-inline-item">
            <i class="devicons devicons-gulp"></i>
        </li>
        <li class="list-inline-item">
            <i class="devicons devicons-npm"></i>
        </li>
    </ul>

    <div class="subheading mb-3">Workflow</div>
    @foreach (var x in Model)
    {
           
<ul class="fa-ul mb-0">
    <li>
        <i class="fa-li fa fa-check"></i>
        @x.Yetenek
    </li>
</ul>
    }
</div>

